@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 12px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  code {
    background-color: #333;
    color: #fff;
    display: inline-block;
    padding: 1rem;
    border-radius: 12px;
    width: 100%;
    text-wrap: wrap;
    overflow-x: scroll;
  }
}
.prose {
  max-width: 100%;
}
